<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1">
<display-name>My web application</display-name>

	<servlet>
		<servlet-name>controleurservlet</servlet-name>
		<servlet-class>web.ControleurServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>controleurservletvideo</servlet-name>
		<servlet-class>web.ControleurServletVideo</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>controleurservlettraduction</servlet-name>
		<servlet-class>web.ControleurServletTraduction</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>controleurservletinscription</servlet-name>
		<servlet-class>web.ControleurServletInscription</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>controleurservletconnexion</servlet-name>
		<servlet-class>web.ControleurServletConnexion</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>controleurservlet</servlet-name>
		<url-pattern>/controleur.php</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>controleurservletvideo</servlet-name>
		<url-pattern>/controleurvideo.php</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>controleurservlettraduction</servlet-name>
		<url-pattern>/controleurtraduction.php</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>controleurservletinscription</servlet-name>
		<url-pattern>/controleurinscription.php</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>controleurservletconnexion</servlet-name>
		<url-pattern>/controleureconnexion.php</url-pattern>
	</servlet-mapping>
</web-app>